version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "npm"
      - "redocly"
    allow:
      - dependency-type: "direct"
        update-types: ["semver:patch", "semver:minor"]
#      - dependency-name: "@redocly/cli"